/* accounts / session styling */
#logout {
  display: none;
}

#google-signin {
  margin-top: 20px;
}

#google-signin strong {
  display: block;
  margin-bottom: 20px;
}

/* chat styling */

#chat textarea {
  width: 100%;
  resize: none;
}

#chat-messages ul {
  list-style: none;
  padding-left: 10px;
}

#chat-messages {
  overflow-y: auto;
}

#send-chat {
  float: right;
}

/* game list styling */
#games ul {
  list-style: none;
  padding-left: 10px;
}

/* game window styling */
.cam-wrapper {
  padding: 10px;
}

#cam {
  background: darkgray;
  width: 100%;
}